@media screen and (min-width: 1000px){
    footer{
	background-color: green;
	color: white;
	padding: 30px 0 15px 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	}

	img.demo{
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	}
}

@media screen and (max-width: 620px){
	footer p{
		display: none;
	}

	footer{
		padding: 10px;
	}
}

/**/
body{
	padding-top: 50px;
}

section{
	padding: 40px 0 40px 0;
}

.navbar .navbar-brand { 
	color: #1caa98; 
}

.em-text{
	color: #1caa98;
}

img.demo{
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	margin-top: 70px;
}

section#title-bar{
	padding: 0;
	height: 80px;
	background: #1caa98;
	color: white;
}

section#title-bar h1{

}

footer{
	background-color: #333;
	color: white;
	padding: 30px 0 15px 0;
}

footer li{
	float: left;
	padding: 0 10px 0 10px;
	list-style: none;
}

footer a {
	color: white;
}

a:hover{
	text-decoration: none;
	color: #1caa98;
}

footer p{
	float: right;
}